Babel==1.3
Django==1.8.6
Pillow==2.7.0
Unidecode==0.04.18
django-appconf==1.0.1
django-compressor==1.5
django-extra-views==0.6.4
django-haystack==2.3.2
django-oscar==1.1.1
django-tables2==1.0.4
django-treebeard==3.0
django-widget-tweaks==1.3
factory-boy==2.4.1
mock==1.0.1
phonenumbers==6.3.0
purl==1.1
pycountry==1.20
pycrypto==2.6.1
pytz==2015.7
requests==2.9.1
six==1.10.0
sorl-thumbnail==12.2
wsgiref==0.1.2
