{% extends 'layout.html' %}

{% load staticfiles %}
{% load thumbnail %}
{% load compress %}

{% block extrastyles %}
    {{ block.super }}
    {% compress css %}
        <!-- custom select2 overrides -->
        <link rel="stylesheet" type="text/css" href="{% static 'oscar/plugins/fancybox/jquery.fancybox.css' %}">
    {% endcompress %}
{% endblock %}

{% block content_wrapper %}
	<div class="page_inner">
		<h2>Presentaties</h2>
		<p class="adjusted">
			Hieronder vind je een kleine greep uit onze realisaties.<br>
			<b><a href="{% url 'visit-us' %}">Contacteer ons</a></b> voor meer informatie.
		</p>
		<div class="row" id="thumbnail-presentations">
			{% for thumbnail in image_list %}
				{% thumbnail thumbnail '300x300' crop='center' as img %}
				<div class="col-md-3 col-sm-4 col-xs-6">
					<a class="fancybox" rel="group" href="{{ thumbnail.image.url }}">
						<img class="img img-thumbnail" src="{{ img.url }}">
					</a>
				</div>
				{% endthumbnail %}
			{% endfor %}
		</div> 
	</div>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}

    {% compress js %}
        {# jQuery plugins #}
        <script type="text/javascript" src="{% static 'oscar/plugins/fancybox/jquery.fancybox.js' %}"></script>
        <script type="text/javascript">
        	$(document).ready(function(){
        		$.fancybox();
        		$('.fancybox').fancybox();
        	});
        </script>
    {% endcompress %}
{% endblock %}